<header class="fixed w-full bg-transparent z-50">
  <div class="container mx-auto px-4 flex justify-start items-center py-4">
    <!-- Logo -->
    <a [routerLink]="['/']" fragment="hero" class="flex items-center space-x-2 mr-8">
      <img src="/assets/logo/logo.png" alt="Logo" class="h-24 w-auto" />
    </a>

    <!-- Desktop Navigation -->
    <nav class="hidden lg:flex items-center space-x-8">
      <a [routerLink]="['/']" fragment="hero" class="text-white hover:text-gray-300">Inicio</a>
      <a [routerLink]="['/']" fragment="about" class="text-white hover:text-gray-300">Sobre mí</a>
      <a [routerLink]="['/']" fragment="service2" class="text-white hover:text-gray-300">Servicios</a>
      <a [routerLink]="['/']" fragment="review" class="text-white hover:text-gray-300">Reseñas</a>
    </nav>

    <!-- Right Actions -->
    <div class="flex items-center space-x-4 ml-auto">
      <a [routerLink]="['/']" fragment="contact"
        class="bg-[#A16161] hover:bg-red-600 text-white font-semibold py-2 px-4 rounded hidden lg:inline-block">
        Contáctame
      </a>

      <!-- Mobile Menu Button -->
      <div class="relative lg:hidden">
        <button (click)="toggleDropdown()" class="focus:outline-none">
          <img src="/assets/icons/menu.svg" alt="Menú" class="h-8 w-8" />
        </button>

        <!-- Mobile Dropdown Menu -->
        <div class="absolute right-0 mt-2 w-56 bg-white rounded-lg shadow-lg z-40 transition-opacity duration-300"
          [ngClass]="{
            'opacity-100 pointer-events-auto scale-100': isDropdownOpen,
            'opacity-0 pointer-events-none scale-95': !isDropdownOpen
          }">
          <a [routerLink]="['/']" fragment="hero"
            class="block px-5 py-3 text-gray-800 hover:text-gray-600 hover:bg-gray-50 border-b border-gray-200">Inicio</a>
          <a [routerLink]="['/']" fragment="about"
            class="block px-5 py-3 text-gray-800 hover:text-gray-600 hover:bg-gray-50 border-b border-gray-200">Sobre
            mí</a>
          <a [routerLink]="['/']" fragment="service2"
            class="block px-5 py-3 text-gray-800 hover:text-gray-600 hover:bg-gray-50 border-b border-gray-200">Servicios</a>
          <a [routerLink]="['/']" fragment="review"
            class="block px-5 py-3 text-gray-800 hover:text-gray-600 hover:bg-gray-50 border-b border-gray-200">Reseñas</a>
          <a [routerLink]="['/']" fragment="contact"
            class="block bg-[#A16161] text-white text-center font-semibold py-3 rounded-b-lg hover:bg-red-600">
            Contáctame
          </a>
        </div>
      </div>
    </div>
  </div>
</header>