<div class="min-h-screen flex flex-col">
  <!-- The header is fixed and always visible -->
  <app-header></app-header>

  <main>
    <section id="hero">
      <app-hero></app-hero>
    </section>

    <section id="about">
      <app-about></app-about>
    </section>

    <section id="service1">
      <app-highlights></app-highlights>
    </section>

    <section id="service2">
      <app-service></app-service>
    </section>

    <section id="review">
      <app-review></app-review>
    </section>

    <section id="contact">
      <app-contact></app-contact>
    </section>
  </main>

  <app-footer></app-footer>
</div>
