<div class="bg-white py-16">
    <div class="container mx-auto px-6">
        <!-- Section Heading -->
        <h2 class="text-4xl font-semibold text-center text-black mb-8">
            ¿Qué dicen las personas a las que acompañamos?
        </h2>

        <!-- Review Cards -->
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
            <!-- Review Card 1 -->
            <div class="bg-white shadow-lg rounded-lg p-6">
                <!-- Reviewer Name -->
                <h3 class="text-center text-lg font-medium text-gray-800 mb-4">IRENE VILLANUEVA
                </h3>
                <!-- Stars -->
                <div class="flex justify-center my-4">
                    <img src="/assets/icons/star.svg" alt="Star Icon" class="h-5 w-5 mr-1">
                    <img src="/assets/icons/star.svg" alt="Star Icon" class="h-5 w-5 mr-1">
                    <img src="/assets/icons/star.svg" alt="Star Icon" class="h-5 w-5 mr-1">
                    <img src="/assets/icons/star.svg" alt="Star Icon" class="h-5 w-5 mr-1">
                    <img src="/assets/icons/star.svg" alt="Star Icon" class="h-5 w-5">
                </div>
                <!-- Review Content -->
                <p class="text-gray-600 text-center mb-4">
                    Una profesional con una gran empatía y directrices claras para superar los retos diarios o cualquier situación. La recomiendo totalmente.
                </p>
                <!-- Read More -->
                <!-- <p class="text-center text-pink-500 font-medium cursor-pointer">Leer más</p> -->
            </div>
        </div>

        <!-- View More Reviews Button -->
        <!-- <div class="text-center mt-8">
            <button
                class="bg-[#A16161]  text-white py-3 px-6 rounded-lg font-medium hover:bg-pink-500 focus:outline-none focus:ring-2 focus:ring-pink-300">
                Ver más reseñas
            </button>
        </div> -->
    </div>
</div>