<div class="bg-[#dedfda] py-12 md:py-20">
    <div class="container mx-auto px-4 flex flex-wrap md:flex-nowrap items-center">
        <!-- Left Section: Background Area -->
        <div class="w-full md:w-1/2 text-center md:text-left">
            <h2 class="text-3xl md:text-4xl font-semibold text-gray-800 mb-4">
                Sobre mí:
            </h2>
            <p class="text-gray-700 text-lg mb-4">
                Hola, soy <strong>Noelia Sanchez</strong>,
            </p>
            <p class="text-gray-700 text-lg mb-4">
                Desde siempre me ha ilusionado la idea de poder ayudar a los demás y qué
                mejor forma de hacerlo que ofreciendo un espacio de escucha activa,
                brindando herramientas para el autoconocimiento y mejorando las
                relaciones tanto con uno mismo como con el entorno.
            </p>
            <p class="text-gray-700 text-lg mb-4">
                Tres palabras que creo que definen muy bien mi forma de ser y trabajar
                son: <strong>cercana</strong>, <strong>empática</strong>, y
                <strong>comprometida</strong>.
            </p>
            <p class="text-gray-700 text-lg mb-4">
                A lo largo de mi trayectoria profesional, he trabajado con diversos
                casos, lo que me ha permitido adquirir una experiencia con la que,
                <strong>me adapto a cada paciente</strong>, desde un enfoque integrador,
                según las necesidades que tenga cada uno, porque cada persona
                <strong>siente, sufre y supera a su manera</strong>.
            </p>
            <p class="text-gray-700 text-lg">
                Mi objetivo es que encuentres en mi consulta un ambiente cercano, seguro
                y de confianza, donde puedas expresar y sentir lo que necesites para
                poder sanar.
            </p>
        </div>

        <!-- Right Section: Circular Image -->
        <div class="w-full md:w-1/2 flex justify-center md:justify-end mt-8 md:mt-0">
            <div class="rounded-full overflow-hidden max-w-xs md:max-w-sm">
                <img src="/assets/images/noelia_circle.png" alt="Noelia" class="w-full h-auto object-cover" />
            </div>
        </div>
    </div>
</div>