<div
  class="relative h-screen flex justify-center items-center bg-cover bg-center"
  style="background-image: url('/assets/images/hero.png')"
>
  <!-- Overlay -->
  <div class="absolute inset-0 bg-black bg-opacity-40"></div>

  <!-- Content -->
  <div class="relative text-white z-10 max-w-lg px-4 text-left">
    <!-- Section 1 -->
    <h1 class="text-4xl md:text-5xl font-bold mb-4">
      Un lugar seguro en el que aprender a vivir en calma, conocerte y cuidar de
      ti
    </h1>
    <!-- Separator -->
    <div class="my-8">
      <img
        src="/assets/icons/separador.svg"
        alt="Separator"
        class="w-24 h-auto"
      />
    </div>
    <p class="text-lg md:text-xl mb-6">
      Te acompaño en tu proceso terapéutico proporcionándote herramientas que
      podras utilizar toda la vida.
    </p>

    <!-- Section 2 -->
    <a
      href="/servicios"
      class="bg-red-500 hover:bg-red-600 text-white font-semibold py-3 px-6 rounded shadow-md"
    >
      Servicios
    </a>
  </div>
</div>
